<!DOCTYPE html>
<html lang="zh-cn">

<head>
  {{ partial "head.html" . }}
  <link rel="stylesheet" href='{{ "css/single.css" | absURL }}'>
</head>

<body>
  <div id="wrapper">
    {{ partial "header.html" . }}
    <main id="main" class="post">
      <!-- sections -->
      {{ if ne .Section "post" }}
      <div class="content">
        {{ .Content }}
      </div>
      {{ else }}
      <!-- post -->
      <h1>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
      <div>
        <time>{{ .PublishDate.Format "2006-01-02" }}</time>
        {{ $tags := .Params.tags}}
        {{ if ne $tags nil }}
        [
          {{ $n := (len $tags) }}
          {{ range $i, $e := $tags }}
            <a class="link" href='{{ "tags" | absURL }}/{{ . | urlize }}'>{{ . }}</a>
            {{ if ne (add $i 1) $n }},{{ end }}
          {{ end }}
        ]
        {{ end }}
      </div>
      <div class="content">
        {{ .Content }}
      </div>
      <div class="paginator">
        {{ if .PrevInSection }}
        <a class="link" href="{{ .PrevInSection.Permalink }}">← prev</a>
        {{ else }}
        <a></a>
        {{ end }}
        {{ if .NextInSection }}
        <a class="link" href="{{ .NextInSection.Permalink }}">next →</a>
        {{ else }}
        <a></a>
        {{ end }}
      </div>
      {{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>
  {{ partial "foot.html" . }}
</body>

</html>
